body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;

}

h1{

}

hr{
	border-color: orange;
	width: 20%;
	border-width: 3px;
}

.boton-aldo{
	border-radius: 50px;
	padding: 1rem 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color:white;
	background-color: orange;
}

.buffer{
	height:10rem;
}